html {
    font-family: "Al Bayan", monospace;
    }

html, body {
    margin: 0;
    padding: 0;
    }

.poster {
    background-image: url('/src/res/img/nolan.png');
    background-position: 50% 50%;
    height: 267px;
    background-size: contain;
    }

h1 {
    text-align: center;
    }


