.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content center;
	align-items: center;
	align-content: center;
	justify-items: center;
	height: 100vh;
	padding: 12px;
	box-sizing: border-box;
}

.form {
	padding: 8px;
	box-sizing: border-box;

	min-width: 260px;
	height: auto;
	flex: 1 1 30%;
	background: lightgoldenrodyellow;
}

.promo {
	flex: 1 1 30%;
	min-height: 200px;
	min-width: 300px;
	background: lightseagreen;
}

@media (max-width: 299px) {
	.promo {
		display: none;
	}
}